.header {
  padding: 1em 2em;
  border-bottom: 2px solid var(--accentColor);
  -webkit-box-shadow: 0px 1px 1px 1px var(--accentColor);
          box-shadow: 0px 1px 1px 1px var(--accentColor);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hamburger {
  cursor: pointer;
}

.header .hamburger * {
  margin-top: 5px;
}

.header .hamburger.hamburger__back {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header .hamburger.hamburger__back .hamburger__line:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 20px;
  height: 3px;
}

.header .hamburger.hamburger__back .hamburger__line:nth-child(2) {
  height: 3px;
}

.header .hamburger.hamburger__back .hamburger__line:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 20px;
  height: 3px;
}

.header .hamburger .hamburger__line {
  background-color: var(--accentColor);
  height: 4px;
  width: 35px;
}

.header .header__search {
  font-size: 20px;
  cursor: pointer;
}
